
@import url(styles/header.css);
@import url(styles/primeraparte.css);
@import url(styles/segundaparte.css);
@import url(styles/terceraparte.css);
@import url(styles/partelobo.css);
@import url(styles/final.css);

    

#fotoportada{
    width: 450px;
    
    
    
}

main{
    width: 79%;
    margin: 1%;
    margin-left: 10%;
    background-color:rgb(222, 255, 255);
    border-radius: 1%;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
}

body{
    background-color: antiquewhite;
    background-image: url("img/fotobody.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
    
}

.cuento{
    height: 600px;
    padding: 3%;
    overflow-y:scroll;
    border: 20px groove rgb(143, 181, 151)
    
}



.intro{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    width: 98%;
    height: 200px;
    margin-left: 4%;
    margin-right: 1%;
}










